---
export const prerender = true;
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import JenuelDevImageProfileBrand from "../../assets/images/JenuelDev.png";
---

<section class="h-100svh w-100% sm:text-lg flex flex-col sm:min-h-650px min-h-550px pt-5">
    <div class="flex flex-col gap-5 items-center justify-center h-100% max-w-800px mx-auto">
        <div
            class="inline-flex items-center gap-2 px-3 sm:px-4 py-2 rounded-full bg-gray-800/50 backdrop-blur-sm border border-gray-700/50"
        >
            <div class="w-2 h-2 rounded-full bg-blue-400 animate-pulse"></div>
            <span class="text-gray-300 text-xs sm:text-sm font-medium">
                Welcome to my universe
            </span>
        </div>

        <div class="flex items-center gap-3">
            <h1
                class="tracking-tight md:text-5xl sm:text-4xl text-2xl group flex pb-3 pt-1.5 px-2 bg-[var(--red3)] text-[var(--red10)] rounded-md"
            >
                <Icon name="tabler:device-laptop" class="mr-1" />
                digital
            </h1>
            <div class="md:text-lg text-sm text-secondary">// from Luzon,<br />Philippines</div>
        </div>
        <div class="flex flex-wrap gap-3 items-center justify-center">
            <h1
                class="tracking-tight md:text-5xl sm:text-4xl text-2xl flex pb-3 pt-1.5 px-2 bg-[var(--orange3)] text-[var(--orange10)] rounded-md relative"
            >
                <div
                    class="absolute -left-10 md:-bottom-9 -bottom-7 animate-bounce animate-duration-2000"
                >
                    <div
                        class="p-1 rounded-lg backdrop-blur-sm border border-purple-500/20 text-purple-400 sm:text-lg text-sm flex gap-1 items-center"
                    >
                        <Icon name="tabler:chart-bubble-filled" /> Innovation
                    </div>
                </div>

                <Icon name="tabler:apps" class="mr-1" />
                software
            </h1>
            <h1
                class="tracking-tight md:text-5xl sm:text-4xl text-2xl flex pb-3 pt-1.5 px-2 bg-[var(--green3)] text-[var(--green10)] rounded-md relative"
            >
                <div
                    class="absolute -right-10 md:-top-6 -top-5 animate-bounce animate-duration-2500"
                >
                    <div
                        class="p-1 rounded-lg bg-blue-500/10 backdrop-blur-sm border border-blue-500/20 text-blue-400 sm:text-lg text-sm flex gap-1 items-center"
                    >
                        <Icon name="tabler:terminal-2" /> Clean Code
                    </div>
                </div>
                <Icon name="tabler:terminal-2" class="mr-1" />
                programmer
            </h1>
        </div>
        <div class="flex flex-wrap gap-3 items-center justify-center">
            <div class="flex items-center gap-2">
                <div
                    class="rounded-full overflow-hidden flex items-center relative justify-center w-60px h-60px border-2 border-slate-200 group-hover:border-slate-300 transition-all"
                >
                    <Image
                        src={JenuelDevImageProfileBrand}
                        width={150}
                        class="absolute scale-120 hover:scale-125 transition-all"
                        alt="Jenuel"
                        loading={"eager"}
                    />
                </div>
                <h3 class="leading-4">
                    <span class="font-200">hi! i'm</span>
                    <br />
                    <span
                        class="sm:text-3xl text-2xl bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text"
                    >
                        Jenuel
                    </span>
                </h3>
            </div>
            <h1
                class="tracking-tight md:text-5xl sm:text-4xl text-2xl flex pb-3 pt-1.5 px-2 bg-[var(--blue3)] text-[var(--blue10)] rounded-md"
            >
                <Icon name="tabler:devices-code" class="mr-1" />
                developer
            </h1>
        </div>

        <p class="max-w-600px md:text-2xl text-lg text-center mx-auto mb-2 px-5 text-secondary">
            I create web apps that are engaging, accessible and scalable.
        </p>
    </div>
    <div class="py-3 px-3 flex justify-between items-center">
        <div class="md:text-lg text-sm text-secondary">// Design, Code,<br />Engage</div>
        <div class="flex gap-3">
            <a
                href="https://github.com/jenueldev"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
                class="w-50px h-50px rounded-full bg-[var(--slate4)] flex items-center justify-center scale-100 hover:scale-110 transition-all"
            >
                <Icon name="tabler:brand-github-filled" size={25} />
            </a>
            <a
                href="https://www.linkedin.com/in/jenuelganawed/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
                class="w-50px h-50px rounded-full bg-[var(--slate4)] flex items-center justify-center scale-100 hover:scale-110 transition-all"
            >
                <Icon name="brandico:linkedin-rect" size={25} />
            </a>
        </div>
        <div>
            <a
                class="border border-2 border-[var(--slate6)] md:pr-4 pr-0 rounded-full flex items-center gap-1 hover:border-[var(--slate8)] hover:bg-[var(--slate2)] transition-all"
                href="mailto:me@Jenuel.Dev"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
            >
                <div
                    class="w-50px h-50px rounded-full bg-[var(--slate4)] flex items-center justify-center"
                >
                    <Icon name="tabler:mail" />
                </div>
                <span class="md:block hidden">me@Jenuel.Dev</span>
            </a>
        </div>
    </div>
</section>
