---
export interface Props {
    adSlot: string;
}
const { adSlot } = Astro.props;
---

<amp-ad
    width="100vw"
    height="320"
    type="adsense"
    data-ad-client="ca-pub-2268807726840190"
    data-ad-slot={adSlot}
    data-auto-format="rspv"
    data-full-width=""
>
    <div overflow=""></div>
</amp-ad>
