---
import HorizontalAd from "./HorizontalAd.astro";
const isDev = import.meta.env.DEV;
---

<div class="border-2 border-gray-5 p-2 rounded-md border-dashed relative">
    <div
        class="absolute -top-[15px] left-[50%] translate-x-[-50%] bg-white px-1 border-2 border-gray-5 border-dashed rounded-md text-sm z-999"
    >
        Ads
    </div>
    <div class="min-h-100px">
        {!isDev && <HorizontalAd />}
    </div>
</div>
