@import "./fonts/inter/web/inter.css";

:root {
    font-family: Inter, sans-serif;
    font-feature-settings: "ss03", "cv02", "cv11";
    font-variation-settings: normal;
}

@supports (font-variation-settings: normal) {
    :root {
        font-family: InterVariable, sans-serif;
    }
}

* {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
}
