---
import Header from "../components/Header.astro";

interface ImageCustom {
    url: string;
    width: number;
    height: number;
    alt: string;
    type: "image/jpeg";
}

interface Props {
    title: string;
    description?: string;
    url?: string;
    images?: Array<ImageCustom | string> | any;
    isBlog?: boolean;
}

const { title, description, url, images, isBlog }: Props = Astro.props;
import "../assets/styles.scss";
import Footer from "../components/Footer.astro";
import { AstroSeo } from "@astrolib/seo";
const DES =
    description ?? "I build web apps that are engaging, accessible and scalable - JenuelDev";
const URL = url ?? "https://jenuel.dev";
const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/JenuelDev.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="google-adsense-account" content="ca-pub-2268807726840190" />
        <AstroSeo
            title={title}
            description={DES}
            canonical="https://www.jenuel.dev/"
            openGraph={{
                url: URL,
                title: title,
                description: DES,
                images: images ?? [],
                site_name: "JenuelDev",
            }}
            twitter={{
                handle: "@JenuelDev",
                site: "@JenuelDev",
                cardType: "summary_large_image",
            }}
        />
        {
            isBlog && !isDev && (
                <script
                    async
                    custom-element="amp-ad"
                    src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"
                />
            )
        }
    </head>
    <body>
        <Header />
        <slot />
        <Footer />
    </body>
</html>
