---
import { Icon } from "astro-icon/components";
---

<section
    class="sm:text-lg text-md"
    style="width: 100%; max-width: 800px;margin-left: auto; margin-right: auto; padding-top: 2.5rem; padding-bottom: 2.5rem; padding-left: 1rem; padding-right: 1rem;"
>
    <p class="mb-4">
        Back in 2016, I decided to make a big change, switching from studying criminology to diving
        into the exciting world of Information Technology. That's when I discovered my passion for
        software development.
    </p>
    <p class="mb-4">
        Now, with over <strong
            >{new Date().getFullYear() - 2018} years of experience as a software developer</strong
        >, I've had the chance to work in a constantly changing field, collaborating with other
        coding enthusiasts and contributing to some amazing projects.
    </p>
    <p class="mb-4">
        <strong>I'm all about the details</strong>, whether it's writing efficient code or
        perfecting a recipe. I believe that paying attention to the little things is key to building
        scalable, engaging, and accessible digital experiences.
    </p>
    <p class="mb-4">
        When I'm not coding, I like to mix things up. You might find me strumming my guitar (I'm no
        rockstar, but it's fun!), reading a good book, going for walks, doing home workouts,
        enjoying a good meal, playing PUBG Mobile or ML with friends, or just learning something
        new.
    </p>
    <div class="flex gap-10 items-center flex-wrap py-10 justify-center">
        <Icon name="DeviconVuejs" size={50} />
        <Icon name="LogosAstroIcon" size={50} />
        <Icon name="LogosLaravel" size={50} />
        <Icon name="LogosNuxtIcon" size={50} />
        <Icon name="LogosMysql" size={50} />
        <Icon name="LogosVitejs" size={50} />
        <Icon name="LogosPhp" size={50} />
        <Icon name="LogosPython" size={50} />
        <Icon name="LogosTypescriptIcon" size={50} />
        <Icon name="SkillIconsJavascript" size={50} />
        <Icon name="SkillIconsHtml" size={50} />
        <Icon name="SkillIconsCss" size={50} />
        <Icon name="LogosNodejsIcon" size={50} />
    </div>
</section>
