<section class="w-full max-w-800px mx-auto py-10">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quod rem harum assumenda consequuntur inventore
    aspernatur iste numquam delectus, velit suscipit exercitationem dolorum voluptatum a excepturi iure, sint minima
    vero.
</section>
