---
export const prerender = true;
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import JenuelDevImageProfileBrand from "./../../assets/images/JenuelDev.png";
---

<section class="h-100svh w-100% sm:text-lg flex flex-col lg:min-h-820px md:min-h-700px min-h-600px">
    <div class="flex flex-col items-center justify-center m-2 h-100% max-w-800px mx-auto">
        <div class="flex items-center gap-3">
            <div
                class="rounded-full overflow-hidden flex items-center relative justify-center w-80px h-80px border-2 border-slate-200 group-hover:border-slate-300 transition-all"
            >
                <Image
                    src={JenuelDevImageProfileBrand}
                    width={200}
                    class="absolute scale-120 transition-all"
                    alt="Jenuel"
                    loading={"eager"}
                />
            </div>
            <h3 class="text-2xl">
                hello! I'm <span class="font-bold">Jenuel</span>
            </h3>
        </div>
        <div class="flex items-center gap-3">
            <h1
                class="font-700 tracking-tight lg:text-7xl md:text-6xl text-5xl group color-violet-5"
            >
                DIGITAL
            </h1>
            <div class="md:text-lg text-sm">// from Luzon,<br />Philippines</div>
        </div>
        <h1 class="font-700 tracking-tight lg:text-7xl md:text-6xl text-5xl color-amber-600">
            SOFTWARE
        </h1>
        <h1
            class="font-700 tracking-tight lg:text-7xl md:text-6xl text-5xl text-green-500"
        >
            PROGRAMMER
        </h1>
        <h1 class="font-700 tracking-tight lg:text-7xl md:text-6xl text-5xl text-cyan-600">
            / DEVELOPER
        </h1>

        <p
            class="sm:mt-4 mt-1 max-w-lg lg:text-3xl md:text-3xl text-lg leading-normal text-center mx-auto mb-2 px-5"
        >
            I create web apps that are engaging, accessible and scalable.
        </p>
    </div>
    <div class="border-t border-t-2 py-3 px-3 flex justify-between items-center">
        <div class="md:text-lg text-sm">// Design, Code,<br />Engage</div>
        <div class="flex gap-3">
            <a
                href="https://github.com/jenueldev"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
                class="w-50px h-50px rounded-full bg-slate-900 text-white flex items-center justify-center scale-100 hover:scale-110 transition-all"
            >
                <Icon name="tabler:brand-github-filled" size={25} />
            </a>
            <a
                href="https://www.linkedin.com/in/jenuelganawed/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
                class="w-50px h-50px rounded-full bg-slate-900 text-white flex items-center justify-center scale-100 hover:scale-110 transition-all"
            >
                <Icon name="brandico:linkedin-rect" size={25} />
            </a>
        </div>
        <div>
            <a
                class="border border-2 md:pr-4 pr-0 rounded-full flex items-center gap-1"
                href="mailto:me@Jenuel.Dev"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
            >
                <div
                    class="w-50px h-50px rounded-full bg-slate-900 text-white flex items-center justify-center scale-100 hover:scale-110 transition-all"
                >
                    <Icon name="tabler:mail" />
                </div>
                <span class="md:block hidden">me@Jenuel.Dev</span>
            </a>
        </div>
    </div>
</section>
