---
export const prerender = true;
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import JenuelDevImageProfileBrand from "./../../assets/images/JenuelDev.png";
---

<section class="h-100svh w-100% sm:text-lg flex flex-col min-h-600px pt-5">
    <div class="flex flex-col gap-2 items-center justify-center m-2 h-100% max-w-800px mx-auto">
        <div class="flex items-center gap-3 mb-3">
            <div
                class="rounded-full overflow-hidden flex items-center relative justify-center w-50px h-50px border-2 border-slate-200 group-hover:border-slate-300 transition-all"
            >
                <Image
                    src={JenuelDevImageProfileBrand}
                    width={150}
                    class="absolute scale-120 transition-all"
                    alt="Jenuel"
                    loading={"eager"}
                />
            </div>
            <h3 class="leading-6">
                hi! i'm<br /><span class="font-bold text-2xl">Jenuel</span>
            </h3>
        </div>
        <div class="flex items-center gap-3">
            <h1
                class="tracking-tight md:text-6xl text-4xl group flex pb-3 pt-1.5 px-2 bg-[var(--red3)] text-[var(--red10)] rounded-md"
            >
                <Icon name="tabler:device-laptop" class="mr-1" />
                digital
            </h1>
            <div class="md:text-lg text-sm text-secondary">// from Luzon,<br />Philippines</div>
        </div>
        <div class="flex flex-wrap gap-3 items-center justify-center">
            <h1
                class="tracking-tight md:text-6xl text-4xl flex pb-3 pt-1.5 px-2 bg-[var(--orange3)] text-[var(--orange10)] rounded-md"
            >
                <Icon name="tabler:apps" class="mr-1" />
                software
            </h1>
            <h1
                class="tracking-tight md:text-6xl text-4xl flex pb-3 pt-1.5 px-2 bg-[var(--green3)] text-[var(--green10)] rounded-md"
            >
                <Icon name="tabler:terminal-2" class="mr-1" />
                programmer
            </h1>
        </div>
        <h1
            class="tracking-tight md:text-6xl text-4xl flex pb-3 pt-1.5 px-2 bg-[var(--blue3)] text-[var(--blue10)] rounded-md"
        >
            <Icon name="tabler:devices-code" class="mr-1" />
            developer
        </h1>

        <p
            class="max-w-lg md:text-2xl text-lg leading-normal text-center mx-auto mb-2 px-5 text-secondary p-0 m-0"
        >
            I create web apps that are engaging, accessible and scalable.
        </p>
    </div>
    <div class="py-3 px-3 flex justify-between items-center">
        <div class="md:text-lg text-sm text-secondary">// Design, Code,<br />Engage</div>
        <div class="flex gap-3">
            <a
                href="https://github.com/jenueldev"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
                class="w-50px h-50px rounded-full bg-[var(--slate4)] flex items-center justify-center scale-100 hover:scale-110 transition-all"
            >
                <Icon name="tabler:brand-github-filled" size={25} />
            </a>
            <a
                href="https://www.linkedin.com/in/jenuelganawed/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
                class="w-50px h-50px rounded-full bg-[var(--slate4)] flex items-center justify-center scale-100 hover:scale-110 transition-all"
            >
                <Icon name="brandico:linkedin-rect" size={25} />
            </a>
        </div>
        <div>
            <a
                class="border border-2 border-[var(--slate6)] md:pr-4 pr-0 rounded-full flex items-center gap-1"
                href="mailto:me@Jenuel.Dev"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
            >
                <div
                    class="w-50px h-50px rounded-full bg-[var(--slate4)] flex items-center justify-center scale-100 hover:scale-110 transition-all"
                >
                    <Icon name="tabler:mail" />
                </div>
                <span class="md:block hidden">me@Jenuel.Dev</span>
            </a>
        </div>
    </div>
</section>
