---
import Layout from "../layouts/default.astro";
---

<Layout title="404 - Not Found">
    <div class="flex flex-col bg-gray-50 items-center justify-center h-screen">
        <h1 class="text-4xl font-bold mb-4">404 - <span class="text-red-400">Not Found</span></h1>
        <p class="text-gray-600">Sorry, the page you're looking for doesn't exist.</p>
        <a href="/" class="text-blue-500 hover:text-blue-700">Go back to home</a>
    </div>
</Layout>
