---
import { Image } from "astro:assets";
import Layout from "../layouts/default.astro";
import ProfileImage from "./../assets/images/profile.jpg";
---

<Layout title="About - Jenuel Dev">
    <section class="w-full max-w-800px mx-auto px-5 sm:text-lg">
        <div class="flex flex-col gap-10 pt-10 items-center">
            <div
                class="class overflow-hidden h-200px w-200px flex items-center justify-center rounded-full mx-auto"
            >
                <Image src={ProfileImage} alt="Jenuel" />
            </div>
            <h1
                class="font-700 tracking-tight md:text-5xl sm:text-4xl text-3xl group text-[var(--c-blue-500)]"
            >
                About
            </h1>
            <p>
                Hi! my name is Jenuel Ganawed and I grew up in the green land of Bakun, Benguet in
                the Philippines.
            </p>
            <p>
                I grew up in Benguet many many years ago. In my generation things are different from
                todays age. Kids today are blessed with this technology that they use for studies
                and for entertainment and for gaming. But I wo unto you, in our generation is the
                best generation haha.
            </p>
            <p>
                We use to go play outside visiting other kids house to play and take their toys back
                to our house haha. We also go out in the forest to find spiders, and we would play
                with it. We go to the mountain and pick up mushroom for dinner.
            </p>
            <p>
                I was a playful kid back then, I am bad and good kid. Growing up, I did some not
                good things like everyone else, but I am thankful to my family, love ones, to the
                churches that I attended, and to God for helping me open my heart. Because of that I
                began to improve and tried to develop myself as a person that I want to be. I am not
                perfect like everyone else, but we can try to be perfect.
            </p>
            <p>
                During College I took criminology because I like to try it. Criminology is so easy
                hahaha. But after like one and a half year, I started to feel bored. Like I don't
                like to enter class anymore. And so I decided to take a break because I just realize
                criminology is not what I want.
            </p>
            <p>
                I thought about giving up and just stay at home. It felt like its the end of
                everything.
            </p>
            <p>
                At home, after cleaning some stuff. I saw this book called C++, when I opened it and
                started reading it. I got curious and got excited to try it, unfortunately I don't
                have a laptop or a computer to try it out. But I just continued reading it even if I
                don't understand it.
            </p>
            <p>
                Because of my curiuosity and that book, it let up a fire again inside me. And I said
                to myself "this is what I want to learn". In the morning I told to my father that I
                want to be an IT.
            </p>
            <p>And I enrolled</p>
        </div>
    </section>
</Layout>
