---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
export const prerender = true;
---

<Layout title="Welcome to Astro.">
    <main class="w-full max-w-1000px mx-auto">
    </main>
</Layout>
