---
import Layout from "../layouts/default.astro";
import Hero from "../components/Home/Hero.astro";
import AboutMe from "../components/Home/AboutMe.astro";
import Experience from "../components/Home/Experience.astro";
import Projects from "../components/Projects.astro";
import Achievements from "../components/Home/Achievements.astro";
const title = "Jenuel Dev";
const description = "Hi I am a software developer.I build web apps that are engaging, accessible and scalable.";
---

<Layout
    title="Welcome to Astro."
    description={description}
    images={[
        {
            url: `https://jenuel-dev-og-image.vercel.app/api/og/generate?title=${title}&description=${description}`,
        },
    ]}
>
    <main>
        <Hero />
        <AboutMe />
        <Experience />
        <Projects />
        <Achievements />
    </main>
</Layout>
