---
import Layout from "../layouts/default.astro";
import Hero from "../components/Home/Hero.astro";
import AboutMe from "../components/Home/AboutMe.astro";
import Experience from "../components/Home/Experience.astro";
import Projects from "../components/Projects.astro";
import Achievements from "../components/Home/Achievements.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <Hero />
        <AboutMe />
        <Experience />
        <Projects />
        <Achievements />
    </main>
</Layout>
