---
import Layout from "../layouts/default.astro";
import Hero from "../components/Home/Hero.astro";
import AboutMe from "../components/Home/AboutMe.astro";
import Experience from "../components/Home/Experience.astro";
import Projects from "../components/Projects.astro";
import Achievements from "../components/Home/Achievements.astro";
---

<Layout
    title="Welcome to Astro."
    images={[
        {
            url: "https://www.example.ie/og-image-01.jpg",
            width: 800,
            height: 600,
            alt: "Og Image Alt",
            type: "image/jpeg",
        },
        {
            url: "https://www.example.ie/og-image-02.jpg",
            width: 900,
            height: 800,
            alt: "Og Image Alt Second",
            type: "image/jpeg",
        },
        { url: "https://www.example.ie/og-image-03.jpg" },
        { url: "https://www.example.ie/og-image-04.jpg" },
    ]}
>
    <main>
        <Hero />
        <AboutMe />
        <Experience />
        <Projects />
        <Achievements />
    </main>
</Layout>
