---
import Layout from "../layouts/default.astro";
---

<Layout title="Thanks For Connecting To Piso WiFi">
    <div class="flex flex-col items-center justify-center h-screen">
        <h1>Thanks For Connecting To Piso WiFi</h1>
    </div>
</Layout>
