---
import Header from "../components/Header.astro";
import LoadingIndicator from "astro-loading-indicator/component";
import Analytics from '@vercel/analytics/astro'
interface ImageCustom {
    url: string;
    width: number;
    height: number;
    alt: string;
    type: "image/jpeg";
}

interface Props {
    title: string;
    description?: string;
    url?: string;
    image?: string;
    isBlog?: boolean;
    canonical?: string | null | undefined;
}

const { title, description, url, image, isBlog, canonical }: Props = Astro.props;
import "../assets/styles.scss";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo";
const DES =
    description ?? "I build web apps that are engaging, accessible and scalable - JenuelDev";
const URL = url ?? "https://jenuel.dev";
const defaultImage = 'https://i.imgur.com/2q9zwKJ.png';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/JenuelDev.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="google-adsense-account" content="ca-pub-2268807726840190" />
        <ClientRouter />
        <LoadingIndicator color="var(--c-blue-500)" height="5px" />
        <SEO
            title={title}
            description={DES}
            canonical={canonical ?? "https://www.jenuel.dev"}
            openGraph={{
                basic: {
                    title: title,
                    url: URL,
                    image: image ?? defaultImage,
                    type: "website",
                },
                optional: {
                    description: DES,
                    siteName: "JenuelDev",
                },
            }}
            twitter={{
                title: title,
                site: URL,
                card: "summary_large_image",
                creator: "@JenuelDev",
                description: DES,
                image: image ?? defaultImage,
                imageAlt: "JenuelDev",
            }}
        />
    </head>
    <body>
        <Header transition:persist />
        <slot />
        <Footer />
        <Analytics />
    </body>
</html>
<style is:global>
    :root .astro-loading-indicator {
        z-index: 999999999999;
    }
</style>
