:root {
    --font-mono:
        'Inter var', system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica,
        Arial, sans-serif;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --border-radius: 4px;
    --fz-xs: 13px;
    --fz-xxl: 22px;
    --fz-lg: 18px;

    // default theme
    --background: #071f26;
    --lightBackground: #0d3038;
    --nav-bg: rgba(7, 31, 38, 0.85);
    --primary: #2db3a4;
    --primary-darker: #238b80;
    --liteprimary: #0d3038;
    --lightestPrimary: #174b54;
    --slate: #8fa6ad;
    --lightSlate: #b3c7cc;
    --lightestSlate: #d7eef2;
    --white: #eefcff;
    --secondary: #424242;
    --accent: #82b1ff;
    --error: #ff5252;
    --info: #2196f3;
    --success: #4caf50;
    --warning: #ffc107;
    --black-shadow: 0 10px 30px -15px black;
    --navy-shadow: rgba(2, 13, 16, 0.86);

    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --border-radius: 4px;
    --light-navy: #0d3038;
    --lightest-navy: #174b54;
    --fz-xxl: 22px;

    // for linear gradient
    --linear-1: #0d6d72;
    --linear-2: #168b88;
    --linear-3: #2db3a4;
    --linear-4: #41c7b8;
    --linear-5: #76ded4;
    --linear-6: #d7fff9;
}
