<nav
    class="sticky top-0 w-full max-w-800px mx-auto z-9999 bg-white bg-opacity-70 backdrop-blur-md p-3 flex items-center justify-between mx-3"
>
    <p class="text-18px font-800"><span>Jenuel</span><span class="text-slate-400">Dev</span></p>
    <ul>
        <li>Home</li>
    </ul>
</nav>
