<nav
    class="sticky top-0 w-full max-w-800px mx-auto z-9999 bg-white bg-opacity-50 backdrop-blur-md p-3 flex items-center justify-between mx-3"
>
    <a href="/" class="text-18px font-800"><span>Jenuel</span><span class="text-[var(--c-blue-500)]">Dev</span></a>
    <div>

    </div>
</nav>
