---
import { Icon } from "astro-icon/components";
---

<nav class="sticky top-0 w-full z-9999 bg-white bg-opacity-50 backdrop-blur-md p-3">
    <div class="flex items-center justify-between mx-auto text-center max-w-800px">
        <a href="/" class="text-18px">
            <span>Jenuel</span><span class="font-800">Dev</span>
        </a>

        <div>
            <a
                class="group inline-block rounded-full bg-white border-2 border-[var(--c-blue-500)] px-3 scale-100 hover:scale-103 transition-all"
                href="https://jenueldev.gumroad.com/"
                target="_blank"
                title="Linkedin"
                aria-label="Linkedin"
            >
                <span
                    class="block rounded-full px-1 py-0.5 text-sm font-medium group-hover:bg-transparent scale-100 hover:scale-103 transition-all"
                >
                    <Icon name="CarbonConnect" class="inline text-lg" />
                    <span class="xs:inline hidden">Lets Connect</span>
                </span>
            </a>
            <!-- Youtube Link -->
            <a
                class="group inline-block rounded-full bg-white border-2 border-[var(--c-blue-500)] px-2 scale-100 hover:scale-103 transition-all"
                href="https://youtube.com/@jenueldev"
                target="_blank"
                title="Youtube"
                aria-label="Youtube"
            >
                <Icon name="tabler:brand-youtube-filled" class="inline -mt-1" />
            </a>
            <a
                class="group inline-block rounded-full bg-white border-2 border-[var(--c-blue-500)] px-2 scale-100 hover:scale-103 transition-all"
                href="https://store.jenuel.dev"
                target="_blank"
                title="Store"
                aria-label="Store"
            >
                <Icon name="tabler:building-store" class="inline -mt-1" />
            </a>
        </div>
    </div>
</nav>
