<div class="w-full max-w-800px mx-auto mb-10">
    <div>
        Learning is a journey, not a destination. One way for me to learn and to continue the journey is to create your
        my personal projects.
    </div>
</div>
